/*
 * Kenja AI
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: 3.0.0b1
 * Contact: info@kenja.com
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package io.swagger.client.api;

import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import io.swagger.client.model.CreateReferenceObjectSearchRequestModel;
import io.swagger.client.model.CreateReferenceObjectSearchResponseModel;
import io.swagger.client.model.HTTPValidationError;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class RagsearchesApi {
    private ApiClient apiClient;
    private Map<String, String> headers;

    public RagsearchesApi() {
        this(Configuration.getDefaultApiClient());
    }

    public RagsearchesApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public void setHeadersOverrides(Map<String, String> headers) {
        this.headers = headers;
    }

    /**
     * Build call for createAReferenceObjectSearchV3RagSearchesReferenceObjectsPost
     * @param body  (required)
     * @param corpusId  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createAReferenceObjectSearchV3RagSearchesReferenceObjectsPostCall(CreateReferenceObjectSearchRequestModel body, Object corpusId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/v3/rag/searches/reference_objects";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (corpusId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("corpus_id", corpusId));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "BearerAuth" };
        if (headers != null) {
            localVarHeaderParams.putAll(headers);
        }
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createAReferenceObjectSearchV3RagSearchesReferenceObjectsPostValidateBeforeCall(CreateReferenceObjectSearchRequestModel body, Object corpusId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling createAReferenceObjectSearchV3RagSearchesReferenceObjectsPost(Async)");
        }
        
        com.squareup.okhttp.Call call = createAReferenceObjectSearchV3RagSearchesReferenceObjectsPostCall(body, corpusId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Create A Reference Object Search
     * Creates a reference object search query and returns results.
     * @param body  (required)
     * @param corpusId  (optional)
     * @return CreateReferenceObjectSearchResponseModel
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public CreateReferenceObjectSearchResponseModel createAReferenceObjectSearchV3RagSearchesReferenceObjectsPost(CreateReferenceObjectSearchRequestModel body, Object corpusId) throws ApiException {
        ApiResponse<CreateReferenceObjectSearchResponseModel> resp = createAReferenceObjectSearchV3RagSearchesReferenceObjectsPostWithHttpInfo(body, corpusId);
        return resp.getData();
    }

    /**
     * Create A Reference Object Search
     * Creates a reference object search query and returns results.
     * @param body  (required)
     * @param corpusId  (optional)
     * @return ApiResponse&lt;CreateReferenceObjectSearchResponseModel&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<CreateReferenceObjectSearchResponseModel> createAReferenceObjectSearchV3RagSearchesReferenceObjectsPostWithHttpInfo(CreateReferenceObjectSearchRequestModel body, Object corpusId) throws ApiException {
        com.squareup.okhttp.Call call = createAReferenceObjectSearchV3RagSearchesReferenceObjectsPostValidateBeforeCall(body, corpusId, null, null);
        Type localVarReturnType = new TypeToken<CreateReferenceObjectSearchResponseModel>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Create A Reference Object Search (asynchronously)
     * Creates a reference object search query and returns results.
     * @param body  (required)
     * @param corpusId  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createAReferenceObjectSearchV3RagSearchesReferenceObjectsPostAsync(CreateReferenceObjectSearchRequestModel body, Object corpusId, final ApiCallback<CreateReferenceObjectSearchResponseModel> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createAReferenceObjectSearchV3RagSearchesReferenceObjectsPostValidateBeforeCall(body, corpusId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<CreateReferenceObjectSearchResponseModel>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
